@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../../node_modules/toastr/build/toastr.min.css';

main {
    background-color: #ecf0f5;
}

h1 {
    font: var(--default-font-bolder);
    font-size: 25px;
    line-height: 27px;
    color: #0a0a0a;
    opacity: .66;
    margin: 0;
}

:root {
    --default-font: normal normal normal 1rem Arial;
    --default-font-bolder: normal normal bold 1rem Arial;
}

.btn {
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font: normal normal normal 16px/25px Arial;
    letter-spacing: 0px;
    min-width: 88px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-radius: 10px;
    text-align: center;
    font: normal normal normal 16px/25px Arial;
    letter-spacing: 0;
    min-width: 88px;
}

.btn-primary {
    @apply items-center px-4 py-2 border border-transparent rounded-md text-white uppercase tracking-widest hover:bg-green-700 active:bg-green-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition;
    background-color: #005E10;
    border: 0px;
}

.btn-outline-info {
    @apply bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-lg;
}

.btn-outline-warning {
    @apply bg-transparent hover:bg-yellow-500 text-yellow-500 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded-lg;
}

.btn-outline-danger {
    @apply bg-transparent hover:bg-red-500 text-red-500 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded-lg;
}

.form-input, .custom-select {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.form-checkbox {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #C4C4C4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #3f83f8;
    background-color: #fff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: .25rem;
}

#password-validation {
    margin-top: 1rem;
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
}

#password-validation ul {
    font: var(--default-font);
    color: #707070;
}

.valid-password-role {
    color: green;
}

.valid-password-role:before {
    padding-right: 1rem;
    content: "✔";
}

.invalid-password-role {
    color: red;
}

.invalid-password-role:before {
    padding-right: 1rem;
    content: "✖";
}

/*SIDER BAR */
.sidebar {
    width: 25%;
    background-color: #005E10;
    padding-top: 15px;
}

.sidebar li a {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}

.sidebar ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar ul li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: block;
}


.sidebar-menu li > ul,
.sidebar-menu.-horizontal.-alignRight li > ul,
.sidebar-menu.-floating {
    opacity: 1;
    transform: scale(1) translateY(0px);
    transform-origin: left top;
}
.sidebar-menu.-alignRight li > ul,
.sidebar-menu.-floating.-alignRight {
    transform-origin: right top;
}
.sidebar-menu li > ul.-animating,
.sidebar-menu.-floating.-animating {
    opacity: 0 !important;
    transform: scale(0.96) translateX(-16px);
}
.sidebar-menu li > ul.-animating {
    z-index: -1 !important;
}
.sidebar-menu.-horizontal > li > ul.-animating {
    transform: scale(0.96) translateY(-16px);
}
.sidebar-menu.-alignRight li > ul.-animating,
.sidebar-menu.-floating.-alignRight.-animating {
    transform: scale(0.96) translateX(16px);
}
.sidebar-menu.-horizontal.-alignRight > li > ul.-animating {
    transform: scale(0.96) translateY(-16px);
}
.sidebar-menu li > ul,
.sidebar-menu.-floating {
    display: none;
}
.sidebar-menu li > ul.-visible,
ul.sidebar-menu.-floating.-visible {
    display: block;
}

#sidebar li.active {
    background-color: #317b3e;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 0.5rem;
    margin-right: .9rem;
}

#sidebar > ul > li a:hover {
    background-color: #5d9a67;
}

@media only screen and (max-width: 640px) {
    .sidebar {
        width: 100%;
    }
}

.filter-container {
    background: hsla(0,0%,76.9%,.16);
    border-radius: 10px;
    padding: .5rem;
}

.table .thead-light th {
    color: #313131;
    background-color: #e9ecef;
    border-color: #dee2e6;
    text-align: left;
}

.table tr>th {
    cursor: pointer;
    vertical-align: middle;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
